extends layout

block content
  
  .login
    if (currentUser)
      .nav
        a(href="/logout") Log Out 

      p.hello Hello #{currentUser.first_name} !
      form(method='POST', action='/post').insideform
        label(for='postarea') Post: 
        textarea#postarea(type="textarea" name="postarea" required=true)
        button(type="submit").inside Send


    else
      .nav
        a(href="/register") Register
      
        a(href="/login") Login
      
      
      h2 Member Posts
      .posts
        
        for item in data
          .post
            .date
              p #{item.formatted}
            .message
              p #{item.message}
            .createdby
              p Author: #{item.createdBy.charAt(0)}***
            