extends layout

block content

  .login
    if (currentUser)
      .nav
        a(href="/logout") Log Out
         
      if (!currentUser.membership)
        p.hello Hello #{currentUser.first_name} ! You can 
          a(href="/secretclub") Join The Secret Club
          |&nbspif you want! Especially if you wanna learn the authors' identities and even write your own!
      else 
        p.hello Nothing is true, everything is permitted.
        p.hello - #{currentUser.first_name}&nbspAuditore da Firenze
      


      if (currentUser.membership)
        form(method='POST', action='/post').insideform
          label(for='postarea') Post: 
          textarea#postarea(type="textarea" name="postarea" required=true)
          button(type="submit").inside Send


    else
      .nav
        a(href="/register") Register
      
        a(href="/login") Login
      p.hello Welcome stranger! Don't miss the opportunity to have fun inside!  
        a(href="/register") Register
        |&nbsphere!
      
    h2 Member Posts
    .posts
      if (data)
        for item in data.reverse()
          .post
            .date
              p #{item.formatted}
            .message
              p #{item.message}
            if (!currentUser)
              .createdby
                p Author: #{item.createdBy.charAt(0)}***
            else
              if (currentUser)
                if (currentUser.membership)
                  .createdby
                    p.insideP Author: #{item.createdBy}
                else
                  .createdby
                    p Author: #{item.createdBy.charAt(0)}***